body {
    background-color: ghostwhite;
    background-size: cover;
}


/* .wrapper {
    max-width: 50%;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
} */